<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esto viene de EJS</title>
</head>
<body>
    <h1>In EJS</h1>

    <ul>
        <% gente.forEach(function(une) {%>
            <li> <%= une.name %> </li>
        <%})%>
    </ul>


</body>
</html>